<div class="container row">
<div class="col-lg-4">
  <!--Card-->
  <div class="card card-cascade wider z-depth-9">

      <!--Card image-->
      <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg" class="img-fluid">
          <a>
              <div class="mask"></div>
          </a>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title"><strong>Alice Mayer</strong></h4>
          <h5><strong>Photographer</strong></h5>

          <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam.
          </p>


          <!--Linkedin-->
          <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
          <!--Twitter-->
          <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
          <!--Dribbble-->
          <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>

      </div>
      <!--/.Card content-->

  </div>
  <!--/.Card-->
</div>

<div class="col-lg-4">

  <!--Card-->
  <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" class="img-fluid" alt="">
          <a>
              <div class="mask"></div>
          </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-body">
          <h5 class="pink-text"><i class="fa fa-cutlery"></i> Culinary</h5>
          <!--Title-->
          <h4 class="card-title">Cheat day inspirations</h4>
          <!--Text-->
          <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
              aliquid ex ea commodi.</p>
      <div class="d-flex justify-content-center"> 
          <a class="btn btn-unique waves-light" mdbRippleRadius>Button</a>
      </div>
      </div>
      <!--/.Card content-->

  </div>
  <!--/.Card-->

</div>

<div class="col-lg-4">

  <!--Card-->
  <div class="card card-cascade">

      <!--Card image-->
      <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
          <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="img-fluid" alt="">
          <a>
              <div class="mask"></div>
          </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title"><strong>Billy Cullen</strong></h4>
          <h5>Web developer</h5>

          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
              sunt, quod quibusdam.
          </p>

          <!--Facebook-->
          <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"></i></a>
          <!--Twitter-->
          <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"></i></a>
          <!--Google +-->
          <a type="button" class="btn-floating btn-small btn-dribbble waves-light" mdbRippleRadius><i class="fa fa-dribbble"></i></a>

      </div>
      <!--/.Card content-->

  </div>
  <!--/.Card-->

</div>    
</div>         